.formContainer {
	width: 600px;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	border: 1px solid #eee;
	border-radius: 5px;
	padding: 60px 20px;
	gap: 10px 0px;
	.inputField {
		position: relative;
		> label {
			position: absolute;
			left: 10px;
			top: -12px;
			background-color: #fff;
			padding: 0 3px;
			color: #888;
			font-size: 0.8rem;
			transition: 0.5s;
			&.labelDefault {
				top: 50%;
				transform: translateY(-50%);
				color: #4261df;
			}
		}
		> input {
			height: 40px;
			border-radius: 3px;
			border: 1px solid #aaa;
			padding: 5px;
		}
	}
	.formValues {
		display: flex;
		flex-direction: column;
	}
}
