.formContainer {
	width: 800px;
	display: flex;
	justify-content: space-between;
	border: 1px solid #eee;
	border-radius: 5px;
	padding: 60px 20px;
	.inputField {
		border: 1px solid #333;
	}
	.formValues {
		display: flex;
		flex-direction: column;
	}
}
