* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
ul,
ol,
li {
	list-style: none;
}
a {
	outline: 0;
	color: inherit;
	font-family: inherit;
	font-weight: inherit;
	text-decoration: none;
}
.h {
	position: absolute;
	top: -9999999px;
	opacity: 0;
}
table,
th,
td {
	border-collapse: collapse;
}
th,
td {
	padding: 15px;
}
body {
	overflow-x: hidden;
	color: var(--baseColor);
	font-size: var(--bodySize);
	font-family: var(--baseFont);
	font-weight: var(--baseWeight);
	background-color: var(--bgColor);
	transition: color 1s, background-color 1s;
	h1 {
		font-family: var(--baseTitFont);
	}

	button,
	input[type='text'],
	input[type='email'],
	input[type='button'],
	textarea {
		font-family: var(--baseFont);
		font-weight: 300;
		&:focus {
			outline: none;
		}
	}
	.layout {
		position: relative;
		padding: 20px;
		box-sizing: border-box;
		margin: 0 auto;
	}
}
::-webkit-scrollbar {
	width: 8px;
	background-color: transparent;
}
::-webkit-scrollbar-thumb {
	border-radius: 4px;
	background-color: var(--pointColor);
}
